<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="icon" href="././images/download.png">
    <link rel="stylesheet" href="./css/styles.css">
    <meta charset="utf-8">
    <title>Help</title>
  </head>
  <body>
    <div class="main-content">
      {{> header}}
      <p>{{helpText}}</p>
    </div>

    {{> footer}}
  </body>
</html>
